@use "@/styles/abstracts/tokens" as *;
// ========================================
// Component — About project
// ========================================

.section--about-project {
    padding-block: 0;
    margin-bottom: 41px;

    @media all and (max-width: 767px) {
        margin-bottom: 32px;
    }
}

.about-project {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    background: var(--stroinova-backgroung);
    border-radius: 20px;
    padding: 41px;
    padding-left: 64px;

    @include respond-below('xl') {
        gap: 22px;
    }

    @include respond-below('md') {
        gap: 27px;
        padding: 0;
    }

    &__left {
        width: calc(60% - 20px);

        @include respond-below('xl') {
            width: calc(54% - 11px);
        }

        @include respond-below('md') {
            width: 100%;
            padding: 14px 17px 0;
        }
    }

    &__header {
        margin-bottom: 26px;
        position: relative;

        @include respond-below('md') {
            display: flex;
            align-items: center;
            gap: 9px;
            margin-bottom: 16px;
        }

        &-icon {
            font-size: 0;
            position: absolute;
            top: 0;
            left: -32px;
            top: calc(50% - 23px);

            @include respond-below('md') {
                position: static;
            }

            svg {
                color: var(--stroinova-primary-2);
            }

            .desktop-icon {
                @include respond-below('md') {
                    display: none;
                }
            }

            .mobile-icon {
                display: none;

                @include respond-below('md') {
                    display: block;
                }
            }
        }
    }

    &__title {
        @include respond-below('md') {
            font-size: 18px;
            line-height: 133%;
        }
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: var(--stroinova-black);
        letter-spacing: 0.4px;

        @include respond-below('xl') {
            font-size: 14px;
            line-height: 171%;
        }

        @include respond-below('md') {
            letter-spacing: 1.5px;
        }

        p + p {
            margin-top: 20px;
        }
    }

    &__btn {
        margin-top: 10px;

        a {
            display: inline-block;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--stroinova-gray-gray-3);
            transition: all 0.3s ease;

            &:hover {
                color: var(--stroinova-primary-2);;
                text-decoration: none;
            }
        }
    }

    &__right {
        width: calc(40% - 20px);

        @include respond-below('xl') {
            width: calc(46% - 11px);
        }

        @include respond-below('md') {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &__images {
        font-size: 0;
        border-radius: 20px;
        overflow: hidden;

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper-pagination-custom {
            position: absolute;
            bottom: 20px !important;
            right: 20px;
            z-index: 1;
            justify-content: flex-end;
            width: auto !important;
            left: 20px !important;
            top: auto !important;
        }
    }

    &__params {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 8px;

        @include respond-below('xl') {
            grid-template-columns: 1fr;
            padding: 0 14px;
        }

        @include respond-below('md') {
            margin: 0 0 30px;
            padding: 0 17px;
        }

        &-item {

            @include respond-below('xl') {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 8px;
            }

            .item-title {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 163%;
                color: var(--stroinova-primary-2);

                @include respond-below('md') {
                    font-size: 14px;
                    line-height: 171%;
                }
            }

            .item-value {
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 20px;
                line-height: 130%;
                color: var(--stroinova-black);
                margin-top: 2px;

                @include respond-below('md') {
                    font-size: 16px;
                    line-height: 163%;
                    text-align: right;
                    margin: 0;
                }
            }
        }
    }
}
