@use "@/styles/abstracts/tokens" as *;
// ========================================
// Component — Anchor menu
// ========================================

.section--anchor-menu {
    padding-block: 0;
    margin-bottom: 41px;

    @media all and (max-width: 767px) {
        margin-bottom: 32px;
    }
}

.anchor-menu {
    background: var(--stroinova-backgroung);
    border-radius: 20px;
    padding: 12px 26.5px 7px;
    
    @include respond-below('md') {
        margin: 0 -12px;
        border-radius: 0;
        padding: 8px 11px 6px;
    }

    &__inner {
        
        gap: 43px;
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        list-style-type: none;
        margin: 0;
        padding-bottom: 1px;

        @include respond-below('xl') {
            gap: 4px;
        }

        &::-webkit-scrollbar {
            height: 4px;
        }

        &::-webkit-scrollbar-track {
            background: var(--stroinova-gray-2);
            border-radius: 15px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--stroinova-primary-1);;    /* цвет бегунка */
            border-radius: 10px;       /* округлось бегунка */
        }
    }

    li {

        a {
            display: inline-block;
            text-decoration: none;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 166%;
            text-align: center;
            color: var(--stroinova-black);
            transition: all 0.3s ease;
            border-bottom: 2px solid transparent;
            text-align: center;
            white-space: nowrap;
            padding: 9px 20px;

            @include respond-below('xl') {
                line-height: 163%;
            }

            @include respond-below('sm') {
                font-size: 14px;
                line-height: 171%;
                padding: 9px 15px;
            }

            &:hover {
                color: var(--stroinova-primary-2);
            }

            &.active {
                color: var(--stroinova-primary-2);
                border-color: var(--stroinova-primary-2);
                font-weight: 600;
                font-size: 18px;
                line-height: 144%;

                @include respond-below('sm') {
                    line-height: 143%;
                    font-size: 14px;
                }
            }
        }
    }
}