@use "@/styles/abstracts/tokens" as *;
// ========================================
// Component — Hero
// ========================================

.section--gen-plan {
    padding-block: 0;
    margin-bottom: 41px;

    @media all and (max-width: 767px) {
        margin-bottom: 32px;
    }
}

.gen-plan-block {

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 30px;

        @include respond-below('xl') {
            margin-bottom: 21px;
        }

        @include respond-below('md') {
            margin-bottom: 16px;
        }

        &-btns {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;

            @include respond-below('md') {
                margin-top: 16px;
            }

            @include respond-below('sm') {
                flex-direction: column;
                gap: 8px;
            }

            a {
                min-width: 250px;
                text-align: center;
                max-width: 100%;

                @include respond-below('sm') {
                    width: 100%;
                    min-width: 0;
                }
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 18px;

        @include respond-below('md') {
            gap: 8px;
        }

        &-icon {
            font-size: 0;
            line-height: normal;

            .desktop-icon {
                @include respond-below('md') {
                    display: none;
                }
            }

            svg {
                color: var(--stroinova-primary-2);
            }

            .mobile-icon {
                display: none;

                @include respond-below('md') {
                    display: block;
                }
            }
        }

        h2 {
            @include respond-below('md') {
                font-size: 18px;
                line-height: 133%;
            }
        }
    }

    &__body {
        position: relative;
    }

    &__address {
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 1;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: var(--stroinova-gray-1);
        background: var(--stroinova-white);
        border-radius: 250px;
        padding: 12.5px 28.5px;

        @include respond-below('md') {
            display: none;
        }

        &-icon {
            font-size: 0;
            line-height: normal;
        }

        &-text {

        }
    }

    &__image {
        font-size: 0;
        line-height: normal;
        img {
            border-radius: 20px;
        }
    }
}
