<!-- Карточка -->
<article class="proj-card">
    <div class="proj-card__img-wrap">
        <img class="proj-card__img" src="/assets/images/pro1.jpg" alt="Жилой дом ул. Войкова 22" loading="lazy" />
        <div class="proj-card__badges">
            <div class="left">
                <span class="proj-badge proj-badge--green">Старт продаж</span>
                <span class="proj-badge proj-badge--orange">АКЦИЯ -10%</span>
            </div>
            <span class="proj-badge proj-badge--date">СДАЧА: 12.12.2027</span>
        </div>

    </div>
    <!-- Hover-popup -->
    <div class="proj-card__popup">
        <a href="/projects/voykov22/" class="btn__button btn_green proj-card__popup-link">Перейти в проект
            <svg width="14" height="14" aria-hidden="true"><use href="#arrow-w-right"/></svg>
        </a>
        <div class="proj-card__popup-body">
            <div class="proj-card__popup-badges">
                <span class="proj-badge proj-badge--green">Старт продаж</span>
                <span class="proj-badge proj-badge--orange">АКЦИЯ -10%</span>
            </div>
            <h3 class="proj-card__title">Жилой многоквартирный дом на ул. Войкова 22</h3>
            <p class="proj-card__price">от 13 млн ₽</p>
            <p class="proj-card__metro">
                <svg width="18" height="18" aria-hidden="true"><use href="#location-small"/></svg>
                МЦД-2 Перерва 5 мин
            </p>
            <div class="proj-card__table">
                <div>
                    <span>Студии</span>
                    <span>от 22,8 м²</span>
                    <span>от 12,8 млн ₽</span>
                </div>
                <div><span>1-комнатные</span><span>от 35,6 м²</span><span>от 12,8 млн ₽</span></div>
                <div><span>2-комнатные</span><span>от 62,0 м²</span><span>от 12,8 млн ₽</span></div>
                <div><span>3-комнатные</span><span>от 75,8 м²</span><span>от 12,8 млн ₽</span></div>
            </div>
            <p class="proj-card__popup-count">112 квартир в продаже</p>
            <p class="proj-card__popup-deadline">
                <svg width="16" height="16" aria-hidden="true"><use href="#calendar-icon"/></svg>
                Дата сдачи до <strong> 12.12.2029</strong>
            </p>
        </div>
    </div>
    <div class="proj-card__body">
        <h2 class="proj-card__title">Жилой многоквартирный дом на ул. Войкова 22</h2>
        <p class="proj-card__price">от 13 млн ₽</p>
        <p class="proj-card__metro">
            <svg width="18" height="18" aria-hidden="true"><use href="#location-small"/></svg>
            МЦД-2 Перерва 5 мин
        </p>
        <a href="/projects/voykov22/" class="proj-card__btn" aria-label="Перейти к проекту">
            <svg width="17" height="17" aria-hidden="true"><use href="#arrow-w-right"/></svg>
        </a>
    </div>
</article>
