<!-- ТЕГИ -->
<div class="catalog-tags" aria-label="Теги">
    <div class="container">
        <div class="catalog-tags__inner">
            <a href="#" class="catalog-tag catalog-tag--active"># все товары</a>
            <a href="#" class="catalog-tag"># квартиры</a>
            <a href="#" class="catalog-tag"># машиноместо</a>
            <a href="#" class="catalog-tag"># кладовые</a>
            <a href="#" class="catalog-tag"># квартиры</a>
            <a href="#" class="catalog-tag"># машиноместо</a>
            <a href="#" class="catalog-tag"># кладовые</a>
            <a href="#" class="catalog-tag"># квартиры</a>
            <a href="#" class="catalog-tag"># машиноместо</a>
        </div>
    </div>
</div>
